---
import TerminSelectionTabs from "@components/TerminSelectionTabs.vue";
import AddChildForm from "@components/AddChildForm.vue";
import ChildList from "@components/ChildList.vue";
import FamilyInfo from "@components/FamilyInfo.vue";

import { createClient } from "@supabase/supabase-js";
const supabase = createClient(
  import.meta.env.SUPABASE_URL,
  import.meta.env.SUPABASE_KEY
);
let { data: termine } = await supabase.from("termine").select();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="flex bg-slate-800 flex-col items-center pt-32 justify-center">
      <FamilyInfo />
      <TerminSelectionTabs client:load termine={termine} />
      <ChildList client:load />
      <AddChildForm client:load />
    </div>
  </body>
</html>
